@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: hsl(182, 49%, 90%);
  --color-prePrimary: hsl(185, 52%, 95%);
  --color-secondary: hsl(183, 50%, 10%);
  --color-tertiary: hsl(243, 80%, 20%);
  --color-accent: hsl(169, 100%, 24%);
}
.dark {
  --color-primary: hsl(198, 53%, 10%);
  --color-prePrimary: hsl(198, 53%, 12%);
  --color-secondary: hsl(197, 80%, 90%);
  --color-tertiary: hsl(243, 80%, 80%);
  --color-accent: hsl(160, 100%, 44%);
}

.backgroundGradient {
  background-color : var(--color-primary);
}
/* .dark {
  .backgroundGradient {
    background-color : var(--color-primary);
  }
} */

.text-primary{
  @apply text-gray-900 dark:text-gray-100
}

.text-secondary{
  @apply text-gray-800 dark:text-gray-200
}

.text-tertiary{
  @apply text-gray-700 dark:text-gray-300
}

button {
  @apply hover:opacity-85
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



@layer base {
  :root {
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: #0a0a0a;
    --foreground: #ededed;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif ;
  @apply bg-background text-foreground;
}

