@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: hsl(182, 49%, 90%);
  --color-prePrimary: hsl(185, 52%, 95%);
  --color-secondary: hsl(183, 50%, 10%);
  --color-tertiary: hsl(243, 80%, 20%);
  --color-accent: hsl(169, 100%, 24%);
}
.dark {
  --color-primary: hsl(198, 80%, 8%);
  --color-prePrimary: hsl(197, 80%, 12%);
  --color-secondary: hsl(197, 80%, 90%);
  --color-tertiary: hsl(243, 80%, 80%);
  --color-accent: hsl(160, 100%, 44%);
}

.backgroundGradient {
  background-color : var(--color-primary);
}
/* .dark {
  .backgroundGradient {
    background-color : var(--color-primary);
  }
} */

.text-primary{
  @apply text-gray-900 dark:text-gray-100
}

.text-secondary{
  @apply text-gray-800 dark:text-gray-200
}

.text-tertiary{
  @apply text-gray-700 dark:text-gray-300
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

button {
  @apply hover:opacity-85
}

body {
  font-family: Arial, Helvetica, sans-serif ;
}
